body {
    font-family: Arial, sans-serif;
    background: url('img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    max-width: 90%;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button, .button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

button:hover, .button:hover {
    background-color: #4cae4c;
}

.success-message, .error-message {
    text-align: center;
}

.success-message h1 {
    color: #5cb85c;
}

.error-message h1 {
    color: #d9534f;
}

/* Responsif */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 20px;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }
}
